body{
    background: rgb(238, 238, 238);
    
height: 100vh;

}
.card{
    border-radius: 12px !important;
    padding: 40px !important;
    box-shadow: 0 5px 15px rgba(0,0,0,0.10), 0  0px 0px rgba(0,0,0,0.28) !important;
}
.btn-primary{
    background-color: #17a2b8!important;
    border-color: #17a2b8!important;
}